.registerBaseShow {
    width: 500px;
    height: 600px;
    /*background-color: rgba(255, 248, 255, 0.50);*/
    position: relative;
    left: 300px;
    top: 100px;
    box-shadow: 0 1px 40px 0 rgba(140,146,163,0.2),inset 0 0 0 0 #dededf !important;
    border-radius: 4px;
}
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    /*-khtml-user-select: none; *//* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
not supported by any browser */
}
#registerBaseShowTitle {
    width: 100%;
    height: 80px;
    background-color: rgb(248, 252, 255);
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    margin-bottom: 80px;
}
.registerItem {
    float: right;
    width: 80%;
    height: 40px;
    /*background-color: #0275d8;*/
    margin-bottom: 17px;
}
.registerItemLeftPart{
    font-size: 14px;
    color: #333;
    width: 85px;
    text-align: right;
    float: left;
    margin-right: 15px;
    height: 34px;
    line-height: 34px;
}
.registerItemRightPart{
    float: left;
    height: 40px;
    width: 200px;
    line-height: 34px;
    /*background-color: #025aa5;*/
}
.regInput {
    border: 1px solid #a7acb5;
    width: 100%;
    height: 25px;
    text-indent: 5px;
    color: #0074d9;
}
.regConfirm {
    width:103px;
    float: left;
    margin-top: 5px;
    border: 1px solid #a7acb5;
    text-indent: 5px;
    height: 25px;
    transition: 1s;
}
#RegGetConfirm {
    float: right;
    margin-left: 10px;
    border: 1px solid #a7acb5;
    height: 28px;
    width: 85px;
    text-align: center;
    padding-left: 0;
    margin-top: 4px;
    cursor: pointer;
}

#regSubmit{
    width: 100%;
    height: 50px;
    background-color:rgba(167, 172, 181, 0.11);
    border: 1px solid rgba(167, 172, 181, 0.11);
    float: left;
    margin: 20px auto;
    cursor: wait;
    font-size: 30px;
    color: rgb(131, 122, 122);
    transition: 0.5s;
}
#regSubmit:focus {
    outline: none;
}
/*#regSubmit:hover{*/
    /*background-color: rgba(135, 255, 96, 0.71);*/
    /*box-shadow:none;*/
    /*color: rgba(255, 255, 255, 0.35);*/
/*}*/
#regSubmitPart2 {
    width: 100%;
    height: 50px;
    background-color: rgba(167, 172, 181, 0.31);
    border: 1px solid rgba(167, 172, 181, 0.11);
    float: left;
    margin: 20px auto;
    cursor: wait;
    font-size: 30px;
    color: rgb(131, 122, 122);
    transition: 0.5s;
}
#regTrueName {
    float: left;
    width: 65%;
    margin-top: 5px;
}
#sexChoice {
    float: right;
    width: 30%;
    height: 27px;
    margin-top: 5px;
    /*border: 1px solid #a7acb5;*/
}
.regChoice{
    float: left;
    width: 35%;
    height: 27px;
    /*border: 1px solid #a7acb5;*/
    /*padding-left: 6px;*/
    cursor: pointer;
    margin-top: 5px;
}
#classChoice {
    margin-left: 20px;
    width: 20%;
}
.regChoiceLabel{
    float: left;
    width: 10%;
    height: 27px;
    /*border: 1px solid #a7acb5;*/
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    user-select: none;
}
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    /*border: solid 1px #000;*/
    /*很关键：将默认的select选择框样式清除*/
    /*appearance:none;*/
    /*-moz-appearance:none;*/
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    /*background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;*/
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-left: 14px;
    color: #0074d9;
    cursor: pointer;
}
#registerBaseShowPart2 {
    display: none;
}

#regStudyNumber {
    margin-top: 5px;
}
#regSubmitPart2:focus {
    outline: none;
}