#mainShowBodyShowCodeManage {
    width: 100%;
    /*height: 900px;*/
    /*background-color: #01549b;*/
    display: none;
    text-decoration: none;!important;
}
#mainShowBodyShowCodeManageCodeShowOnePartAddNewProject{
    /*background-color: rgba(209, 143, 105, 0.75);*/
    height: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    color: rgba(43, 43, 43, 0.46);
}
#mainShowBodyShowCodeManageCodeShowOnePartAddNewProject:hover{
    /*background-color: rgba(255, 175, 131, 0.75);*/
    background-color: rgba(255, 180, 3, 0.53);
    line-height: 105px;
    color: rgba(43, 43, 43, 0.9);
    /*transform:rotate(90deg);*/
}
.addProject{
    font-size: 40px;
    display: inline-block;
    transform:rotate(0deg);
    transition:0.5s;
}
/*.addProject:hover{
    transform:rotate(180deg);
    
}*/
#mainShowBodyShowCodeManageCodeShowOnePartAddNewProject:hover .addProject{
    font-size: 50px;
}

.mainShowBodyShowCodeManageCodeShowOnePart {
    width: 100%;
    height: 150px;
    /*height: auto;*/
    /*height: 450px;*/
    background-color: rgba(183, 183, 183, 0.56);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.mainShowBodyShowCodeManageCodeShowOnePart:hover {
    box-shadow: 5px 5px 10px #666666;
    border-radius: 10px;
    background-color: rgba(158, 158, 158, 0.56);
}

.mainShowBodyShowCodeManageCodeShowOnePartTitle {
    /*float: left;*/
    text-decoration: none;!important;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 5px;
}
.mainShowBodyShowCodeManageCodeShowOnePartTitleIsPublic{
    color: #4a474b;
    font-size: 20px;
    margin-left: 20px;
}

.mainShowBodyShowCodeManageCodeShowOnePartLanguage {
    float: left;
    /*color: #31b0d5;*/
    margin-left: 20px;
}

.mainShowBodyShowCodeManageCodeShowOnePartLastTime {
    float: left;
    /*color: #31b0d5;*/
    margin-left: 20px;
}

.mainShowBodyShowCodeManageCodeShowOnePartLabel {
    float: left;
    /*color: #31b0d5;*/
    margin-left: 20px;
}

.mainShowBodyShowCodeManageCodeShowOnePartSearchTimes {
    float: left;
    /*color: #31b0d5;*/
    margin-left: 20px;
}

.mainShowBodyShowCodeManageCodeShowOnePartCheckTimes {
    float: left;
    /*color: #31b0d5;*/
    margin-left: 100px;
}

.mainShowBodyShowCodeManageCodeShowOnePartDownloadTimes {
    float: left;
    /*color: #31b0d5;*/
    margin-left: 100px;
}

.mainShowBodyShowCodeManageCodeShowOnePartResume_hide {
    float: left;
    /*color: #31b0d5;*/
    margin-left: 20px;

    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: none;
    /*text-indent: 10px;*/
    /*font-weight: 100;*/
}

.mainShowBodyShowCodeManageCodeShowOnePartResume_show {
    float: left;
    /*color: #31b0d5;*/
    margin-left: 20px;

    width: 90%;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*text-wrap: none;*/
    /*text-indent: 10px;*/
    /*font-weight: 100;*/
}

.mainShowBodyShowCodeManageCodeShowOnePartPush {
    /*display: block;*/
    border-radius: 5px;
    /*background-color: rgb(192, 201, 208);*/
    color: #0074d9;
    transition: 0.5s;

}

.mainShowBodyShowCodeManageCodeShowOnePartPush:hover {
    box-shadow: 3px 3px 5px #b9b9b9;
    background-color: #e5e5e5;
}

.mainShowBodyShowCodeManageCodeShowOnePartByTime {
    display: none;
    width: 95%;
    height: 350px;
    /*background-color: rgba(0, 116, 217, 0.13);*/

    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.mainShowBodyShowCodeManageCodeShowOnePartByTimeBodyShow {
    margin-left: 20px;
    padding-top: 20px;
    width: 100%;
    height: 50px;
    border: 1px;
}
table{
    table-layout:fixed; /*使水平布局不受单元格的内容的影响*/
}
.mainShowBodyShowCodeManageCodeShowOnePartByTimeBodyShow tr {
    width: 300px;
    height: 10px;
    text-align: left;
    /*overflow: hidden;*/
}

.mainShowBodyShowCodeManageCodeShowOnePartByTimeBodyShow tr:hover {
    background-color: rgba(102, 96, 108, 0.31);
}

.mainShowBodyShowCodeManageCodeShowOnePartByTimeBodyShowTd {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*height: 10px;*/
    width: 60%;
    transition: 0.5s;
    /*white-space: nowrap;*/

    text-wrap: none;
}
.mainShowBodyShowCodeManageCodeShowOnePartByTimeBodyShowTd:hover {
    background-color: #fcf9ff;
    /*overflow: visible;*/
    /*white-space: normal;*/
}
