 #discussShow{
    width: 90%;
    min-height: 300px;
    margin-top: 40px;
}
.discussShowOne{
    margin-top: 10px;
    border-bottom: 1px #80808000 dashed;
    transition: 0.6s;
}
.discussShowOne:hover .discussShowReplyShowButton{
    display: block;
}
.discussShowOne:hover{
    border-bottom: 1px #80808045 dashed;
    background-color: #0000001a;
    border-radius: 20px 5px 5px 5px;
}
.discussShowUserImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.discussShowUserName{
    float: left;
    min-width: 50px;
    height: 50px;
    font-size: 30px;
    text-indent: 10px;
    line-height: 50px;
}
.discussShowUserNameForReply{
    font-size: 20px;
    text-indent: 10px;
    line-height: 50px;
}
.discussShowCreateDataTime{
    height: 50px;
    width: 300px;
    font-size: 15px;
    text-indent: 10px;
    line-height: 60px;
    float: left;
    color: gray;
}
.discussShowReplyShowButton{
    display: none;
    float: left;
    width: 50px;
    cursor: pointer;
    line-height: 50px;
    color: gray;
    position: absolute;
    right: 340px;
}
.discussShowReplyShowButton:hover{
    color: black;
}
.discussContent{
    width: calc(100% - 20px);
    min-height: 30px;
    overflow-y:auto;
    padding: 10px;
    text-indent: 50px;
}
.discussInput{
    margin-top: 10px;
    width: calc(100% - 12px);
    min-height: 100px;
    padding: 5px;
    border: 1px solid #80808045;
}
.discussOneSubmit{
    margin-top: 10px;
    width: 60px;
    height: 25px;
    line-height: 25px;
    background-color: #00a1ff38;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    float: right;
    color: #0000005c;
    transition:0.5s;
}
.discussOneSubmit:hover{
    background-color: #00a1ff8f;
    color: #000000;
}
.discussInputReplyToUserName{
    /*color: red;*/
    clear: both;
    position: relative;
    top: -110px;
    left: -80px;
    background-color: #00d0ff4f;
    border-radius: 2px;
    cursor: pointer;
    transition:0.5s;
}