<script type="text/javascript" src="/static/selfPart/js/jquery-3.2.1.js"></script>
<div class="top_title"><div class="widthControl"><span class="top_title_login"><a href="/login">登录</a>&nbsp;&nbsp;&nbsp;<a href="/register">注册</a></span></div></div>
<div class="top_titleLink">
    <div class="widthControl">
        <a href="/index"><div class="top_titleLink_title"><i class="iconfont titleIcon" style="font-size: 40px;transition: 1s">
            &#xe61f;</i> 校内代码共享管理平台
        </div></a>
        <!-- <a href="/history"><div class="top_titleLink_button" title="历史"><i class="iconfont titleIcon">&#xe6b7;</i></div></a> -->
        <a href="/selfPart"><div class="top_titleLink_button" title="我的"><i class="iconfont titleIcon">&#xe6a3;</i></div></a>
        <div id="top_titleLink_button_search" class="top_titleLink_button" title="搜索"><input id="search_input" type="text"/><i class="iconfont titleIcon">&#xe6a4;</i></div>
    </div>
</div>
<script type="text/javascript" src="/static/index/js/topPartForSearch.js"></script>
<script type="text/javascript" src="/static/index/js/bottomSet.js"></script>