    <div class="mainShowRightAll">
        <div class="mainShowRight">
            <div class="mainShowRightTitle"><i class="iconfont mainShowRightTitleIcon">&#xe6dd;</i><span
                    class="mainShowRightTitleWord">热门标签</span></div>
            <a href=""><span class="mainShowRightHotTag">&nbsp; aaa &nbsp;</span></a>
        </div>
        <div class="mainShowRight">
            <div class="mainShowRightTitle"><i class="iconfont mainShowRightTitleIcon">&#xe6dd;</i><span
                    class="mainShowRightTitleWord">热门内容</span></div>
            <a href=""><div class="mainShowRightHotInfo">fadsfasdfasefedfgzdf服务萨尔发我色法,分为非IO误会而覅公安侮辱狗皮肤爱好歌颂和偶然苹果好二个人爱好而广佛怕和你温柔过</div></a>
        </div>
        <div class="mainShowRight">
            <div class="mainShowRightTitle"><i class="iconfont mainShowRightTitleIcon">&#xe6dd;</i>
                <span class="mainShowRightTitleWord">最新评论</span></div>
            <div class="latestDiscuss"><a href="">dfgzdf服务萨尔发我色法,分为非IO误会而覅公安侮辱狗皮肤爱好歌颂和偶然苹果好二个人爱好而广佛怕和你温柔过</a></div>
        </div>
    </div>
    <script type="text/javascript" src="/static/selfPart/js/getRightInfo.js"></script>
    <script type="text/javascript" src="/static/index/js/bottomSet.js"></script>