<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>校内代码共享管理平台</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/selfPart/css/cssInIndex.css"/>
    <link rel="stylesheet" href="/static/selfPart/font/iconfont.css"/>
    <link rel="stylesheet" href="/static/selfPart/font/fontByNewInfo/iconfont.css"/>
    <link rel="stylesheet" href="/static/selfPart/css/scroll.css"/>
    <link rel="stylesheet" href="/static/selfPart/css/selfPartMainBodySet.css"/>
    <script type="text/javascript" src="/static/selfPart/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/selfPart/js/jsforindex.js"></script>

    <link rel="stylesheet" href="/static/selfPart/css/mainShowBodyShowCodeManage.css"/>
    <link rel="stylesheet" href="/static/selfPart/css/mainShowBodyShowNewInf.css"/>
    <link rel="stylesheet" href="/static/selfPart/css/mainShowBodyShowSelfSet.css"/>

</head>
<body class="noSpaceBody">
    {% include 'cut/headLoginAndOut.html' %}
<!-- <div class="top_title"><div class="widthControl"><span class="top_title_login"><a href="/logout">退出</a></span></div></div>
<div class="top_titleLink">
    <div class="widthControl">
        <div class="top_titleLink_title"><i class="iconfont titleIcon" style="font-size: 40px;transition: 1s">
            &#xe61f;</i> 在线学习网站
        </div>
        <div class="top_titleLink_button" title="历史"><i class="iconfont titleIcon">&#xe6b7;</i></div>
        <div class="top_titleLink_button" title="我的"><i class="iconfont titleIcon">&#xe6a3;</i></div>
        <div id="top_titleLink_button_search" class="top_titleLink_button" title="搜索"><input id="search_input" type="text"/><i class="iconfont titleIcon">&#xe6a4;</i></div>
    </div>
</div> -->
<div id="mainShow" class="widthControl">
    <div id="mainShow_infoPut"><a href="">公告：把 Web 页面上的段落的第一行缩进，这是一种最常用的文本格式化效果。CSS 提供了 text-indent 属性，该属性可以方便地实现文本缩进。通过使用
        text-indent 属性，所有元素的第一行都可以缩进一个给定的长度，甚至该长度可以是负值。这个属性最常见的用途是将段落的首行缩进，下面的规则会使所有段落的首行缩进 5 em：p {text-indent:
        5em;}注意：一般来说，可以为所有块级元素应用 text-indent，但无法将该属性应用于行内元素，图像之类的替换元素上也无法应用 text-indent
        属性。不过，如果一个块级元素（比如段落）的首行中有一个图像，它会随该行的其余文本移动。提示：如果想把一个行内元素的第一行“缩进”，可以用左内边距或外边距创造这种效果。使用负值
    </a></div>
    {% include 'cut/mainBodyRightPart.html' %}
    <div class="mainShowBody">
        <div id="mainShowTitleShow">
            <div id="mainShowTitleShowLeft">
                <img src="{{userpic}}" alt="" id="selfImage"/>
                <input id="selfImageChangeButton" type="file" name="file" style="display: none" onchange="imgPreview(this)" />
                <script src="/static/selfPart/js/changeSelfImage.js"></script>
            </div>
            <div id="mainShowTitleShowRight">
                <div id="mainShowTitleShowRightName">{{username}}</div>
                <div id="mainShowTitleShowRightBar">
                    <a class="mainShowTitleShowRightBarChoice" href="/selfPart/index.html">我的主页</a>
                    <a class="mainShowTitleShowRightBarChoice isCurrentChoice" href="/selfPart/message.html">沟通</a>
                    <!-- <a class="mainShowTitleShowRightBarChoice" href="">我的关注</a> -->
                    <!-- <a class="mainShowTitleShowRightBarChoice" href="">论坛</a> -->
                </div>
            </div>
        </div>
        <div id="mainShowBodyShow">
            <div id="mainShowBodyShowMessageStyle">
                <link rel="stylesheet" href="/static/selfPart/css/message.css"/>
                <div id="mainShowBodyShowMessageStyleSelect_Communicate" class="mainShowBodyShowMessageStyleSelect beChoice"><i class="iconfont" style="font-size: 30px">&#xe660;</i></div>
                <div id="mainShowBodyShowMessageStyleSelect_Friend" class="mainShowBodyShowMessageStyleSelect "><i class="iconfont" style="font-size: 30px">&#xe746;</i></div>
            </div>
            <div id="mainShowBodyShowMessageStyle_Communicate">
                <div id="mainShowBodyShowMessageStyle_CommunicatePerson" class="scrollStyle">
{% for allMessageFriend in allMessageFriends %}
                    <div class="mainShowBodyShowMessageStyle_CommunicatePersonOne " id="{{ allMessageFriend.nomal_usernumber }}"><img src="{{ allMessageFriend.nomal_userImg }}" alt="" class="mainShowBodyShowMessageStyle_CommunicatePersonOnePic"/><div class="mainShowBodyShowMessageStyle_CommunicatePersonOneName">{{ allMessageFriend.nomal_username }}</div></div>
{% endfor %}
                </div>
                <div class="mainShowBodyShowMessageStyle_CommunicateWindow" style="display: block;overflow: hidden"><img src="/static/selfPart/pic_communicate.png" ondragstart="return false" alt="" style="width: 95%;margin-top: -30px;opacity: 0.5;"/></div>
{% for allMessageFriend in allMessageFriends %}
                <div class="mainShowBodyShowMessageStyle_CommunicateWindow" id="message_{{ allMessageFriend.nomal_usernumber }}">
                    <div class="mainShowBodyShowMessageStyle_CommunicateWindowTitle">{{ allMessageFriend.nomal_username }}<a class="clearMessageHistory" id="{{ allMessageFriend.nomal_usernumber }}">清空聊天记录</a></div>
                    <div class="mainShowBodyShowMessageStyle_CommunicateWindowTalk scrollStyle">
                    </div>
                    <div class="mainShowBodyShowMessageStyle_CommunicateWindowInput scrollStyle" contenteditable="true" id="input_{{ allMessageFriend.nomal_usernumber }}">在这里输入内容</div>
                    <input type="button" value="发送" class="mainShowBodyShowMessageStyle_CommunicateWindowTalkMessageSend" id="send_{{ allMessageFriend.nomal_usernumber }}"/>
                </div>
{% endfor %}
            </div>
            <div id="mainShowBodyShowMessageStyle_Friend" class="">
{% for myFriendOneAll in myFriendOneAlls %}
                <div class="mainShowBodyShowMessageStyle_FriendPersonOne " id="allFriend_{{ myFriendOneAll.nomal_usernumber }}"><img src="{{ myFriendOneAll.nomal_userImg }}" alt="" class="mainShowBodyShowMessageStyle_FriendPersonOnePic"/><div class="mainShowBodyShowMessageStyle_FriendPersonOneName">{{ myFriendOneAll.nomal_username }}</div></div>
{% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/selfPart/js/mainBodyShowCodeManage.js"></script>
<script type="text/javascript" src="/static/selfPart/js/mainBodyShowChange.js"></script>
<script type="text/javascript" src="/static/selfPart/js/mainBodyShowSelfSet.js"></script>
<script type="text/javascript" src="/static/selfPart/js/message.js"></script>
<script type="text/javascript" src="/static/selfPart/js/rightClick.js"></script>
<link rel="stylesheet" href="/static/selfPart/css/rightClick.css"/>
</html>


