<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>校内代码共享管理平台</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/selfPart/css/cssInIndex.css"/>
    <link rel="stylesheet" href="/static/selfPart/font/iconfont.css"/>
    <link rel="stylesheet" href="/static/selfPart/font/fontByNewInfo/iconfont.css"/>
    <link rel="stylesheet" href="/static/selfPart/css/scroll.css"/>
    <link rel="stylesheet" href="/static/selfPart/css/selfPartMainBodySet.css"/>
    <script type="text/javascript" src="/static/selfPart/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/selfPart/js/jsforindex.js"></script>

    <link rel="stylesheet" href="/static/selfPart/css/mainShowBodyShowCodeManage.css"/>
    <link rel="stylesheet" href="/static/selfPart/css/mainShowBodyShowNewInf.css"/>
    <link rel="stylesheet" href="/static/selfPart/css/mainShowBodyShowSelfSet.css"/>

</head>
<body class="noSpaceBody">
    {% include 'cut/headLoginAndOut.html' %}
<!-- <div class="top_title"><div class="widthControl"><span class="top_title_login"><a href="/logout">退出</a></span></div></div>
<div class="top_titleLink">
    <div class="widthControl">
        <div class="top_titleLink_title"><i class="iconfont titleIcon" style="font-size: 40px;transition: 1s">
            &#xe61f;</i> 在线学习网站
        </div>
        <div class="top_titleLink_button" title="历史"><i class="iconfont titleIcon">&#xe6b7;</i></div>
        <div class="top_titleLink_button" title="我的"><i class="iconfont titleIcon">&#xe6a3;</i></div>
        <div id="top_titleLink_button_search" class="top_titleLink_button" title="搜索"><input id="search_input" type="text"/><i class="iconfont titleIcon">&#xe6a4;</i></div>
    </div>
</div> -->
<div id="mainShow" class="widthControl">
    <div id="mainShow_infoPut"><a href="">公告：把 Web 页面上的段落的第一行缩进，这是一种最常用的文本格式化效果。CSS 提供了 text-indent 属性，该属性可以方便地实现文本缩进。通过使用
        text-indent 属性，所有元素的第一行都可以缩进一个给定的长度，甚至该长度可以是负值。这个属性最常见的用途是将段落的首行缩进，下面的规则会使所有段落的首行缩进 5 em：p {text-indent:
        5em;}注意：一般来说，可以为所有块级元素应用 text-indent，但无法将该属性应用于行内元素，图像之类的替换元素上也无法应用 text-indent
        属性。不过，如果一个块级元素（比如段落）的首行中有一个图像，它会随该行的其余文本移动。提示：如果想把一个行内元素的第一行“缩进”，可以用左内边距或外边距创造这种效果。使用负值
    </a></div>
    {% include 'cut/mainBodyRightPart.html' %}
    <div class="mainShowBody">
        <div id="mainShowBodyControl">
            <span class="mainShowBodyControlChoiceIs" id="mainShowBodyControlNewInfChoice">最新动态</span>
            <span class="mainShowBodyControlChoice" id="mainShowBodyControlCodeManageChoice">代码管理</span>
            <span class="mainShowBodyControlChoice" id="mainShowBodyControlSelfSetChoice">个人信息</span>
        </div>
        <div id="mainShowTitleShow">
            <div id="mainShowTitleShowLeft">
                <img src="{{userSelfInfo.userpic}}" alt="" id="selfImage"/>
                <input id="selfImageChangeButton" type="file" name="file" style="display: none" onchange="imgPreview(this)" />
                <script src="/static/selfPart/js/changeSelfImage.js"></script>
            </div>
            <div id="mainShowTitleShowRight">
                <div id="mainShowTitleShowRightName">{{username}}</div>
                <div id="mainShowTitleShowRightBar">
                    <a class="mainShowTitleShowRightBarChoice isCurrentChoice" href="/selfPart/index.html">我的主页</a>
                    <a class="mainShowTitleShowRightBarChoice" href="/selfPart/message.html">沟通</a>
                    <!-- <a class="mainShowTitleShowRightBarChoice" href="">我的关注</a> -->
                    <!-- <a class="mainShowTitleShowRightBarChoice" href="">论坛</a> -->
                </div>
            </div>
        </div>
        <div id="mainShowBodyShow">
            <div id="mainShowBodyControlNewInf">
                <!--<h1></h1><h1>动</h1><h1>态</h1><h1>信</h1><h1>息</h1><h1>展</h1><h1>示</h1>-->
                <!--<i class="iconfont">&#xe618;</i>-->
                <div id="mainShowBodyControlNewInfAllContent">
                    <div class="mainShowBodyControlNewInfAllContentShowChoice"><div class="mainShowBodyControlNewInfAllContentShowChoiceIs mainShowBodyControlNewInfAllContentShowChoiceStyleAll" id="mainShowBodyControlNewInfAllContentShowChoiceAll">所有</div><div class="mainShowBodyControlNewInfAllContentShowChoiceNo mainShowBodyControlNewInfAllContentShowChoiceStyleAll"  id="mainShowBodyControlNewInfAllContentShowChoiceSelf">我的</div></div>
                    <div class="mainShowBodyControlNewInfAllContentAll">
                        
                    </div>
                    <div class="mainShowBodyControlNewInfAllContentSelf" style="display: none">
                        
                    </div>
                    </div>
            </div>
            <!--style="display: none"-->
            <div id="mainShowBodyShowCodeManage">
                <a href="/selfPart/codeAddNewProject"><div class="mainShowBodyShowCodeManageCodeShowOnePart" id="mainShowBodyShowCodeManageCodeShowOnePartAddNewProject">
                    <i class="iconfont addProject">&#xe690;</i> 添加新项目 <i class="iconfont addProject">&#xe690;</i>
                </div></a>
                <!--代码管理-->
            </div>
            <!--style="display: none"-->
            <div id="mainShowBodyControlSelfSet">
                <!--<h1>个</h1><h1>人</h1><h1>设</h1><h1>置</h1><h1>界</h1><h1>面</h1>-->
                <!--注册时填写：邮箱，密码，真实姓名，性别，年级班级，学号-->
                <!--年龄，创建时间-->
                <div><div class="mainShowBodyControlSelfSet_leftPart">邮箱：</div><div class="mainShowBodyControlSelfSet_rightPart">
                    <input type="text" id="mainShowBodyControlSelfSet_mail" value="{{ userSelfInfo.useremail }}" disabled="disabled"/></div></div>
                <div><div class="mainShowBodyControlSelfSet_leftPart">真实姓名：</div><div class="mainShowBodyControlSelfSet_rightPart">
                    <input type="text" id="mainShowBodyControlSelfSet_trueName" value="{{ userSelfInfo.username }}" disabled="disabled"/>
                </div></div>
                <div><div class="mainShowBodyControlSelfSet_leftPart">性别：</div><div class="mainShowBodyControlSelfSet_rightPart">
                    <input type="text" id="mainShowBodyControlSelfSet_sex" value="{{ userSelfInfo.sex }}" disabled="disabled"/>
                </div></div>
                <div><div class="mainShowBodyControlSelfSet_leftPart">年级班级：</div><div class="mainShowBodyControlSelfSet_rightPart">
                    <input type="text" id="mainShowBodyControlSelfSet_gradeClass" value="{{ userSelfInfo.grade }}级计算机{{ userSelfInfo.class }}班" disabled="disabled"/>
                </div></div>
                <div><div class="mainShowBodyControlSelfSet_leftPart">学号：</div><div class="mainShowBodyControlSelfSet_rightPart">
                    <input type="text" id="mainShowBodyControlSelfSet_studyNum" value="{{ userSelfInfo.studyNumber }}" disabled="disabled"/>
                </div></div>
                <div><div class="mainShowBodyControlSelfSet_leftPart">创建时间：</div><div class="mainShowBodyControlSelfSet_rightPart">
                    <input type="text" id="mainShowBodyControlSelfSet_createDate" value="{{ userSelfInfo.createTime }}" disabled="disabled"/>
                </div></div>
                <input type="button" value="修改密码" id="changePassword"/>
                <div id="changePasswordWindowHidden">
                    <div id="changePasswordWindow" style="padding-top: 30px;padding-left: 15px">
                        <div>
                            <div class="changePasswordWindow_leftPart">旧密码：</div>
                            <div class="changePasswordWindow_rightPart"><input type="password" id="changePasswordWindowOldPassword"/></div>
                        </div>
                        <div>
                            <div class="changePasswordWindow_leftPart">新密码：</div>
                            <div class="changePasswordWindow_rightPart"><input type="password" id="changePasswordWindowNewPassword"/></div>
                        </div>
                        <div id="changePasswordWindowDealButton">
                            <input type="button" id="changePasswordWindowYes" value="确定" class="changePasswordWindowButtonStyle"/>
                            <input type="button" id="changePasswordWindowNo" value="取消" class="changePasswordWindowButtonStyle"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--style="display: block"-->
        </div>
    </div>
    </div>
</body>
<script type="text/javascript" src="/static/selfPart/js/mainBodyShowCodeManage.js"></script>
<script type="text/javascript" src="/static/selfPart/js/mainBodyShowChange.js"></script>
<script type="text/javascript" src="/static/selfPart/js/mainBodyShowSelfSet.js"></script>
<script type="text/javascript" src="/static/selfPart/js/selfPartGetDynamic.js"></script>
</html>


