.noSpaceBody{
    margin: 0px;
    height: 2000px;
    list-style:none;
    user-select: none;
}
.widthControl{
    width: 1000px;
    margin: 0 auto;
}
.top_title{
    width: 100%;
    height: 30px;
    background-color: #e7e7e7;
}
.top_titleLink{
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    height: 60px;
    opacity: 0.8;
    background-color: antiquewhite;
    user-select: none;
}
.top_titleLink_button{
    width: 100px;
    height: 60px;
    background-color: #f0e1cd;
    float: right;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    line-height: 50px;
    font-size: 2em;
}
.top_titleLink_button:hover{
    background-color: chocolate;
    opacity: 1;
}
.top_titleLink_title{
    float: left;
    font-size: 30px;
    margin: 10px auto;
    letter-spacing: 0px;
    transition: 2s;
}
.titleIcon{
    cursor: pointer;
    color: chocolate;
    font-weight: bold;
    font-size: 20px;
    transition: 1s;
}
.top_titleLink_button:hover .titleIcon{
    color: black;
}


#mainShow{
    position: absolute;
    top: 100px;
    margin: auto;
    left: 0;
    right: 0;
    /*width: 100%;*/
    height: 100%;
    /*background-color: #ff7463;*/
}

#mainShow_infoPut{
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: none;
    text-indent: 10px;
    font-weight: 100;
}
.mainShowBody{
    width: 1000px;
    height: 900px;
    /*background-color: aquamarine;*/
    float: left;
    /*margin-top: 10px;*/
}