#mainShowBodyControlNewInf{
    /*display: none;*/
    /*background-color: rgba(2, 133, 232, 0.32);*/
}
#mainShowBodyControlNewInfAllContent{
    width: 90%;
    height: auto;
    /*background-color: #0275d8;*/
    margin-left: 50px;
    border-left: 1px solid rgba(112, 112, 112, 0.48);
}
.mainShowBodyControlNewInfAllContentShowChoice{
    width: 80px;
    height: 25px;
    /*background-color: #0074d9;*/
    float: right;
    margin-right: 200px;
    margin-top: 10px;
}
.mainShowBodyControlNewInfAllContentShowChoiceStyleAll{
    float: left;
    text-align: center;
    width: 40%;
    line-height: 20px;
    margin-left: 5px;
    font-weight: bolder;
    color: #818a91;
}
.mainShowBodyControlNewInfAllContentShowChoiceIs{
    color: #ff934c;!important;
}
.mainShowBodyControlNewInfAllContentShowChoiceNo{
    cursor: pointer;
}
.leadIcon{
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    /*float: left;*/
    /*background-color: #0074d9;*/
    /*line-height: 5px;*/
    /*margin-left: -8px;!important;*/
    margin-left: 8px;!important;
}
.date_month{
    width: 35px;
    height: 35px;
    background-color: #a3d7a3;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-left: -17px;
}
.date_oneDay_show{
    /*display: block;*/
    /*float: left;*/
    margin-left: 20px;
    font-weight: 600;
}
.data_update{
    /*background-color: #0074d9;*/
    width: 100%;
}
/*.data_addDate{*/
    /*width: 100%;*/
    /*background-color: #0074d9;*/
/*}*/
.data_update span{
    display: inline-block;
    /*float: left;*/
    margin-left: 25px;
    margin-top: -5px;
    /*margin-top: -27px;*/
    font-weight: 600;
    width: 75%;
    /*height: 20px;*/
    /*background-color: #ff0000;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*line-height: 15px;*/
}
.data_update span a{
    text-decoration: none;
    color: #ff0000;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 20px;
    /*background-color: #d93f34;*/
}
.data_update_time{
    width: 15%;
    float: right;
    color: #959595;
}

.data_addDate span{
    display: inline-block;
    /*float: left;*/
    margin-left: 25px;
    margin-top: -5px;
    /*margin-top: -27px;*/
    font-weight: 600;
    width: 75%;
    /*background-color: #ff0000;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.data_addDate span a{
    text-decoration: none;
    color: #ff0000;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 20px;
    /*background-color: #d93f34;*/
}


.user{
}
.userName{
    font-size: 30px;
    /*background-color: rgba(1, 49, 90, 0.55);*/
    position: relative;
    top: -5px;
    left: 10px;
}
.userPic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: -40px;
    /*background-color: #0066bb;*/
}
.lead{
    /*margin-left: -15px;*/
}
.timeLine:after {
    content: "";
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 1px;
    height: 100%;
    background: #ed292a;
}