<!DOCTYPE html>
<html>
<head>
    <title>CodePartEdit</title>
    <meta charset="UTF-8">
    <!--导入js库-->
    <script src="/static/codeShowPart/highLight/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/codeShowPart/highLight/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/codeShowPart/js/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/codeShowPart/css/forEdit.css"/>
    <link rel="stylesheet" href="/static/codeShowPart/css/main.css"/>
    <link rel="stylesheet" href="/static/codeShowPart/css/scroll.css"/>
</head>
<body>
    <pre id="code" class="ace_editor">{{ getCodeAllString }}</pre>
    <span id="{{ codeType }}" class="definedCodeType"></span>
</body>
    <script src="/static/codeShowPart/js/forEdit.js" type="text/javascript" charset="utf-8"></script>
</html>