    <link rel="stylesheet" href="/static/selfPart/font/iconfont.css"/>
    <link rel="stylesheet" href="/static/allCodeSelectAndShow/css/codeSelectAndShow.css"/>
    <link rel="stylesheet" href="/static/allCodeSelectAndShow/css/scroll.css"/>
    <div id="mainBody" class="widthControl" style="margin-top:20px;">
        <div id="conditionSelect">
            <div class="conditionSelectOneOption">
                <div class="conditionSelectTitle">语言：</div>
                <div class="codeLanguageChoice" id="language_0">全部</div>
                {% for id,language in allLanguages.items %}
                <div class="codeLanguageChoice" id="language_{{ id }}">{{ language }}</div>
                {% endfor %}
            </div>
            <div class="conditionSelectOneOption">
                <div class="conditionSelectTitle">标签：</div>
                <div class="codeTagChoice" id="codeTag_0">全部</div>
                {% for id,codeTag in allCodeTags.items %}
                <div class="codeTagChoice" id="codeTag_{{ id }}">{{ codeTag }}</div>
                {% endfor %}
            </div>
        </div>
        <div id="mainBodyCodeShow">
            
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/allCodeSelectAndShow/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/selfPart/js/jsforindex.js"></script>
<script type="text/javascript" src="/static/allCodeSelectAndShow/js/codeSelectAndShow.js"></script>
