<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>在线学习网站</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/index/css/cssInIndex.css"/>
    <link rel="stylesheet" href="/static/index/font/iconfont.css"/>
    <link rel="stylesheet" href="/static/index/css/lunShow.css"/>
    <link rel="stylesheet" href="/static/index/css/scroll.css"/>
</head>
<body class="noSpaceBody">
    <span id="flag_1"></span>
    {% if isLogin == 0 %}
        {% include 'cut/headLoginAndOutNoLogin.html' %}
    {% else %}
        {% include 'cut/headLoginAndOut.html' %}
    {% endif %}
<div id="mainShow" class="widthControl">
    <div id="mainShow_infoPut"><a href="">公告：把 Web 页面上的段落的第一行缩进，这是一种最常用的文本格式化效果。CSS 提供了 text-indent 属性，该属性可以方便地实现文本缩进。通过使用
        text-indent 属性，所有元素的第一行都可以缩进一个给定的长度，甚至该长度可以是负值。这个属性最常见的用途是将段落的首行缩进，下面的规则会使所有段落的首行缩进 5 em：p {text-indent:
        5em;}注意：一般来说，可以为所有块级元素应用 text-indent，但无法将该属性应用于行内元素，图像之类的替换元素上也无法应用 text-indent
        属性。不过，如果一个块级元素（比如段落）的首行中有一个图像，它会随该行的其余文本移动。提示：如果想把一个行内元素的第一行“缩进”，可以用左内边距或外边距创造这种效果。使用负值
    </a></div>
    <div id="banner">
        <div id="banner_bg"></div>
        <div id="banner_info"></div>
        <ul><li class="on">1</li><li>2</li><li>3</li><li>4</li><li>5</li></ul>
        <div id="banner_list">
            <a href="#"><img src="/static/index/picture/indexShow%20(1).jpg" class="mainShowPic" title="PIC1" alt="PIC1"></a>
            <a href="#"><img src="/static/index/picture/indexShow%20(2).jpg" class="mainShowPic" title="PIC2" alt="PIC2"></a>
            <a href="#"><img src="/static/index/picture/indexShow%20(3).jpg" class="mainShowPic" title="PIC3" alt="PIC3"></a>
            <a href="#"><img src="/static/index/picture/indexShow%20(4).jpg" class="mainShowPic" title="PIC4" alt="PIC4"></a>
            <a href="#"><img src="/static/index/picture/indexShow%20(5).jpg" class="mainShowPic" title="PIC4" alt="PIC5"></a>
            <!--target="_blank"-->
        </div>
    </div>
    <div class="mainShowBody">
        <div class="mainShowRightAll">
            <span id="flag_2"></span>
         <!--    <div class="mainShowRight">
                <div class="mainShowRightTitle"><i class="iconfont mainShowRightTitleIcon">&#xe6dd;</i><span class="mainShowRightTitleWord">热门标签</span></div>
                <a href=""><span class="mainShowRightHotTag">&nbsp; aaa &nbsp;</span></a>
            </div> -->
            <div class="mainShowRight">
                <div class="mainShowRightTitle"><i class="iconfont mainShowRightTitleIcon">&#xe6dd;</i><span class="mainShowRightTitleWord">热门推荐：</span></div>
                <!-- <a href=""><div class="mainShowRightHotInfo">fadsfasdfasefe</div></a>
                <a href=""><div class="mainShowRightHotInfo">fadsfasdfasefe</div></a> -->
            </div>
            <!-- <div class="mainShowRight">
                <div class="mainShowRightTitle"><i class="iconfont mainShowRightTitleIcon">&#xe6dd;</i> <span class="mainShowRightTitleWord">最新评论</span></div>
                <div class="latestDiscuss"><a href="">dfgzdf服务萨尔发我色法,分为非IO误会而覅公安侮辱狗皮肤爱好歌颂和偶然苹果好二个人爱好而广佛怕和你温柔过</a></div>
                <div class="latestDiscuss"><a href="">dfgzdf服务萨尔发我色法,分为非IO误会而覅公安侮辱狗皮肤爱好歌颂和偶然苹果好二个人爱好而广佛怕和你温柔过</a></div>
                <div class="latestDiscuss"><a href="">dfgzdf服务萨尔发我色法,分为非IO误会而覅公安侮辱狗皮肤爱好歌颂和偶然苹果好二个人爱好而广佛怕和你温柔过</a></div>
                <div class="latestDiscuss"><a href="">dfgzdf服务萨尔发我色法,分为非IO误会而覅公安侮辱狗皮肤爱好歌颂和偶然苹果好二个人爱好而广佛怕和你温柔过</a></div>
            </div> -->
        </div>
    </div>
    <div id="codeSelectAndShowForIndex"><span id="flag_3"></span></div>
</div>
<div id="moveToFlag">
    <div class="moveToFlagClass" id="moveToFlag_1">1<div class="moveToFlagClassText">.轮播图</div></div>
    <div class="moveToFlagClass" id="moveToFlag_2">2<div class="moveToFlagClassText">.热门推荐</div></div>
    <div class="moveToFlagClass" id="moveToFlag_3">3<div class="moveToFlagClassText">.代码库</div></div>
</div>
</body>
<script type="text/javascript" src="/static/index/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/index/js/jsforindex.js"></script>
<script type="text/javascript" src="/static/selfPart/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/index/js/lunShow.js"></script>
<script type="text/javascript" src="/static/index/js/getRightInfo.js"></script>
</html>


